<ion-view view-title="Events">
    <!-- <ion-nav-buttons side="left">
        <button class="button button-positive button-clear no-animation" ng-click="goBack()">
            <i class="button-icon ion-arrow-left-c"></i>
        </button>
    </ion-nav-buttons> -->
    <ion-content padding="true" on-swipe-right="onSwipeRight()">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list card" data-ng-repeat="event in eventList">

            <div>
                <p>Event name: {{event.eventname}}</p>
                <p>Event time: {{event.datetime}}</p>
                <p>Event address: {{event.address}}</p>
                
            </div>
        </div>
        <!-- <ion-infinite-scroll
            on-infinite="nextPage()"
            distance="5%" data-ng-if="page < 10">
        </ion-infinite-scroll> -->
    </ion-content>
</ion-view>