<ion-view hide-back-button="true" view-title="Smoothit">
    <ion-content padding="true">
        <div>
            <div class="padding">
                <button ng-click="smooth()" class="button button-block button-stable">
                    Smoothit
                </button>

                <button ng-click="getLocation()" class="button button-block button-stable">
                    get location
                </button>

                <div> 
                    lat: {{currentLat}} <br>
                    long: {{currentLong}}
                </div>

                <button ng-click="reset()" class="button button-block button-stable">
                    Reset
                </button>

            </div>
        </div>
    </ion-content>
</ion-view>

