<ion-view>
	<div class="bar bar-header bar-calm">
        <h1 class="title">Top Event</h1>
        <button class="button button-icon icon ion-ios-list-outline" ng-click="getEventList()"></button>
    </div>
    <ion-content class="has-header" padding="true" on-swipe-left="onSwipeLeft()">
    	<ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
        </ion-refresher>

      	<div class="card">
      	  <div class="item item-divider" ng-show="show">
		      <div class="eventName"> <i class="icon ion-ios-calendar-outline"></i> {{eventname}} </div>
		  </div>
		  <div class="item item-text-wrap" ng-show="show">
              <div class="eventTime"> <i class="icon ion-ios-time-outline"></i> {{datetime}} </div>
              <div class="eventAddress"> <i class="icon ion-ios-location-outline"></i> {{address}} </div>
		  </div>
		  <div class="item item-divider" ng-show="show">
		      <div class="travelTime"> <i class="icon ion-model-s"></i> {{travelTime}} </div>
		  </div>
		  
		  	<div class="item item-text-wrap" ng-hide="show">
		  		<div class="eventName"> You don't have events today. </div>
		  	</div>
		</div>

		<div class="padding">
			<button class="button button-outline button-positive" ng-click="cancelNotification()">
				cancel
			</button>
		</div>
	</ion-content>
</ion-view>